/*resetar site*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*responsivo*/
@media(max-width:600px){
    .cardapio{
        padding: 2px 10px; /*espaço em telas pequenas*/
        .cardapio h2{
            font-size: 14px;
        }
        .cardapio p{
            font-size: 12px;
        }
    }
}
/*menu*/
.menu{
    display: flex;
    justify-content: space-between; /*separa logo e menu*/
    align-items: center;
    background-color: green;
    padding: 15px 30px;
    }
/*logo*/
.logo{
    color:aquamarine;
    font-size: 100px;
    font-weight: bold;
}
/*lista*/
.menu-links{
    list-style: none;
    display: flex;
    gap: 25px; /*espaço entre itens*/    
}
.menu-links a{
    text-decoration: none;
    color: greenyellow;
    font-size: 16px;
    transition: 0.3s;
}
.menu-links a:hover{
    color: palevioletred;
}
/*rodapé*/
/*barra vermelha*/
.barra-alerta{
    background-color: yellow;
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}
/*conteiner do rodapé*/
.footer-conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    padding: 30px;
    flex-wrap: wrap;
}
.footer-logo h2{ /*logo do rodapé*/
    color: black;
}
.footer-link{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-link a{
    text-decoration: none;
    color: yellow;
    font-size: 14px;
}
.footer-link a:hover{
    color: yellowgreen;
}
/*redes sociais*/
.footer-redes{
    display: flex;
    gap: 15px;
}
.footer-redes a{
    text-decoration: none;
    color: yellow;
    font-size: 14px;
}
.footer-redes a:hover{
    color: aqua;
}
.cardapio{
    display: grid;
    grid-template-columns: 3fr;
}
.bloco{
    display: grid;
    grid-template-columns: 1fr 1fr;/*divide em duas partes(texto e imagem)*/
}
.vermelho{
    background-color: #7a0000;
    color: white;
}
.bege{
    background-color: #d8c9a3;
}
.texto{
    padding: 40px;
}
.texto h2{
    font-size: 28px;
    margin-bottom: 15px;
}
.texto p{
    font-size: 14px;
    line-height: 1.5;
}
.imagem img{
    width: 300px 300px;
    height: 300px 300px;
    object-fit: cover;

}